.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.text-align-flex {
  text-align: right;
}
.p-0 {
  padding: 0;
}
.m-0 {
  padding: 0;
}

// Card
.ui.card {
  width: 100%;
}
// Card
//message
.ui.message {
  width: 400px;
  top: 15px;
  position: fixed;
}
//message
